@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url("https://i.ibb.co/nzKFQwD/lethu-zimu-bky-Ki-Ff-V91-Q-unsplash.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron{
    opacity: 25%;
}
footer{
    background-color: #386CEB;
    position: absolute;
    bottom: 0px;
    width: 100%;padding: 0%;
    margin: 0%;
}